{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<link rel="stylesheet" href="{% static 'css/mcdp.css' %}">
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/fishes/fish-detail.css' %}"
/>
<script defer src="{% static 'js/fish-detail.js' %}"></script>
{% endblock %}

{% block content %}
<section class="fish-container">
  <div class="fish-image">
    <img src="{% static 'images/striped-fish.png' %}" alt="A striped fish">
  </div>
  <div class="fish-details">
    <h1>{{ fish.name }}</h1>
    {% if fish.age > 0 %}
      <h2>A {{ fish.age }} year old {{ fish.species }}.</h2>
    {% else %}
      <h2>A {{ fish.species }} baby.</h2>
    {% endif %}
      <p>{{ fish.description }}</p>
      <div class="fish-actions">
        <a href="{% url 'fish-update' fish.id %}" class="btn warn">Edit</a>
        <a href="{% url 'fish-delete' fish.id %}" class="btn danger">Delete</a>
      </div>
  </div>
</section>
<div class="exercise-toy-container">
  <selction class="exercises">
    <div class="subsection-title">
      <h2>Workouts</h2>
    </div>
    <h3>Add a Workout</h3>
    <form 
      action="{% url 'add-exercise' fish.id %}" 
      method="post" 
      class="subsection-content"
    >
      {% csrf_token%}
      {{ exercise_form.as_p }}
      <button type="submit" class="btn submit">Add Exercise</button>
    </form>
    <h3>Past Workouts</h3>
    {% if fish.exercise_set.all.count %}
    <table>
      <thead>
        <tr><th>Date</th><th>Session</th></tr>
      </thead>
      <tbody>
        {% for exercise in fish.exercise_set.all %}
          <tr>
            <td>{{exercise.date}}</td>
            <td>{{exercise.get_time_display}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
      <div class="subsection-content">
        <p>{{fish.name}} doesn't exercise 😥</p>
      </div>
  </selction>
</div>
{% endblock %}