{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<link rel="stylesheet" href="{% static 'css/mcdp.css' %}"/>
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/fishes/fish-detail.css' %}"
/>
<script defer src="{% static 'js/fish-detail.js' %}"></script>
{% endblock %}

{% block content %}
<section class="fish-container">
  <div class="fish-image">
    {% if fish.photo.url %}
    <img 
      src="{{fish.photo.url}}" 
      alt="A photo of {{fish.name}}"
      class="usr-img"
    >
  {% else %}
    <img 
      src="{% static 'images/striped-fish.png' %}" 
      alt="A striped fish"
    >
  {% endif %}
  </div>
  <div class="fish-details">
    <h1>{{ fish.name }}</h1>
    {% if fish.age > 0 %}
      <h2>A {{ fish.age }} year old {{ fish.species }}.</h2>
    {% else %}
      <h2>A {{ fish.species }} baby.</h2>
    {% endif %}
    <p>{{ fish.description }}</p>
    <div class="fish-actions">
      <a href="{% url 'fish-update' fish.id %}" class="btn warn">Edit</a>
      <a href="{% url 'fish-delete' fish.id %}" class="btn danger">Delete</a>
    </div>
    <h3>Change {{ fish.name }}'s photo</h3>
    <p id="file-name"></p>
    <form 
      action="{% url 'add-photo' fish.id %}"
      enctype="multipart/form-data"
      method="POST"
    >
      {% csrf_token %}
      <label class="btn secondary">
        Choose photo
        <input type="file" name="photo-file" id="file-input">
      </label>
      <button type="submit" class="btn submit">Upload Photo</button>
    </form>
  </div>
</section>
<div class="exercise-candy-container">
  <section class="exercises">
    <div class="subsection-title">
      <h2>Workouts</h2>
    </div>
    <h3>Add a Workout</h3>
    <form 
      action="{% url 'add-exercise' fish.id %}" 
      method="post" 
      class="subsection-content"
    >
      {% if fish.exercised_today %}
        <p class="exercised">{{fish.name}} is fit!</p>
      {% else %}
        <p class="not-exercised">{{fish.name}} is feeling lazy!</p>
      {% endif %}
      {% csrf_token%}
      {{ exercise_form.as_p }}
      <button type="submit" class="btn submit">Add Exercise</button>
    </form>
    <h3>Past Workouts</h3>
    {% if fish.exercise_set.all.count %}
    <table>
      <thead>
        <tr><th>Date</th><th>Session</th></tr>
      </thead>
      <tbody>
        {% for exercise in fish.exercise_set.all %}
          <tr>
            <td>{{exercise.date}}</td>
            <td>{{exercise.get_time_display}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
      <div class="subsection-content">
        <p>{{fish.name}} doesn't exercise 😥</p>
      </div>
    {% endif %}
  </section>
  <section class="candies">
    <div class="subsection-title">
      <h2>Candies</h2>
    </div>
    <h3>{{ fish.name }}'s Candies</h3>
    <div class="subsection-content">
      {% if fish.candies.count %}
        {% for candy in fish.candies.all %}
          <div class="candy-container">
            <div class="color-block" style="background-color: {{ candy.color }}"></div>
            <a href="{% url 'candy-detail' candy.id %}">
              <p>A {{ candy.color }} {{ candy.name }}</p>
            </a>
          </div>
        {% endfor %}
      {% else %}
        <p class="no-candies">{{ fish.name }} doesn't have any candy 😔</p>
      {% endif %}
    </div>
    <h3>Available Candies</h3>
    <div class="subsection-content">
      {% if candies.count %}
        {% for candy in candies.all %}
          <div class="candy-container">
            <div class="color-block" style="background-color: {{ candy.color }}"></div>
            <a href="{% url 'candy-detail' candy.id %}">
              <p>A {{ candy.color }} {{ candy.name }}</p>
            </a>
            <form action="{% url 'assoc-candy' fish.id candy.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn submit">Give candy</button>
            </form>
          </div>
        {% endfor %}
      {% else %}
        <p class="all-candies">
          {{ fish.name }} already has all the available candies 🤢
        </p>
      {% endif %}
    </div>
  </section>
</div>
{% endblock %}